:root{
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'outfit';
    font-weight: 400;
}

.background{
    background-color: var(--Stone100);
    width: 1440px;
    height: 1955px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-container{
    width: 736px;
    height: 1720px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
   
}

.image-preparation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}

.image{
    width: 657px;
    height: 301px;
    border-radius: 20px;
}

.preparation{
    display: flex;
    width: 90%;
    align-items: start;
    flex-direction: column;
    
    gap: 25px;
    margin-top: 25px;
}

.title{
    font-family: "Young Serif";
    font-size: 2.2rem;
    font-weight: 400;
}

.time-preparation{
    background-color: var(--Rose50);
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.title-time-preparation{
    margin-left: 28px;
    margin-top: 21.5px;
    margin-bottom: 7px;
    color: var(--Rose800);
    font-weight: 700;
}

.list-time-preparation{
    margin-left: 45px;
    list-style-type: none;
    padding-bottom: 14.5px;
}

.list-time-preparation li::before{
    content:'\2022';
    font-size: 1.8rem;
    color: var(--Brown800);

}

.preparation-elements{
    margin:7px 0px;
}

.text-time-preparation{
    font-weight: 600;
    margin-left: 20px;
}

.ingredients{
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 22px;
    align-items: start;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title-ingredients{
    font-family: 'Young serif';
    font-size: 1.8rem;
    color: var(--Brown800);
}

.list-ingredients{
    list-style-type: none;
}


.text-ingredients-items{
    margin-left: 25px;
}
.list-ingredients li::before{
    content:'\2022';    
    font-size: 1.8rem;
    color: var(--Brown800);
    
}

.instructions{
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 30px;
    align-items: start;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom:30px ;
}

.title-instructions{
    font-family: 'young serif';
    font-size: 1.8rem;
    color: var(--Brown800);
}


.list-instructions{
    margin-left: 35px;
    list-style: none;
    counter-reset: list;
}

.list-instructions li{
    counter-increment: list;
    padding-bottom: 10px;
    
}
.list-instructions li::before{
    content: counter(list)'. ';
    color:var(--Brown800);
    font-weight: 700;
}

.start-text-instructions{
    margin-left: 20px;
    font-weight: 700;
}

.instructions-items{
    text-indent: -35px;
}

.nutrition{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 39px;
    margin-right: 39px;

}

.title-nutrition{
    font-family: 'Young serif';
    font-size: 1.8rem;
    color: var(--Brown800);
    margin-bottom: 20px;
}

.text-nutrition{
    margin-bottom: 25px;
    
}

.table-nutrition{
    padding-left: 50px;
    border-collapse: collapse;
    margin-top: -10px;
    table-layout: fixed;
}

.table-body tr td{
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

td:nth-child(1){
    width: 305px;
}
.table-body tr:first-child{
    padding-top: 0;
}

 tr:last-child td{
    border-bottom: none;
}

.text-table{
    color: var(--Brown800);
    font-weight: 700;
}


@media (max-width:1000px){
    .background{
        width: 736px;;
    }
}